{eval 
    function login_template() {
        $id = L.random(4);
        $referer = dreferer();
        $params = get_params();
        $islostpwd = isset($_GET["vlostpwd"]) ? 'true' : 'false';
        global $_G;
        $static_path  = get_static_path();
        $site_url  = get_site_url();
        $bind_phone = Session::getValue('bind_phone_user');
        if(isset($bind_phone))
            $bind_phone = $bind_phone['username'];
}
<!--{block return}-->
<div id="loginphone_$id" class="vaptcha-dz-form">
		<div class="vaptcha-dz-popup v-login-form">
            <input type="hidden" name="formhash" value="{FORMHASH}" />
            <input type="hidden" name="referer" value="{$referer}" />
            <div class="dz-item-group">
                <span class="dz-intro">{lang phone_auth:account}:</span>
                <input tabindex="1" class="form-control dz-input" placeholder="{lang phone_auth:account_placeholder}" type="text" name="user"  value="" />
                <a class="dz-link" href="member.php?mod=register">&nbsp;&nbsp;{lang phone_auth:register_link}</a>
            </div>
            <div class="dz-item-group">
                <span class="dz-intro">{lang login_password}:</span>
                <input tabindex="1" class="form-control dz-input" placeholder="{lang login_password}" type="password" name="password"  value="" />
                <a class="dz-link lost-password" >&nbsp;&nbsp;{lang forgotpw}</a>
            </div>
            <div class="dz-item-group">
                <span class="dz-intro">{lang phone_auth:vaptcha}:</span>
                <input type="hidden" name="vaptcha_token">
                <input type="hidden" name="vaptcha_challenge">
                <div class="vaptcha_container">
                    <div class="vaptcha-init-main">
                        <div class="vaptcha-init-loading">
                            <a><img src="https://cdn.vaptcha.com/vaptcha-loading.gif"/></a>
                            <span class="vaptcha-text"><a href="https://www.vaptcha.com/" title="{lang phone_auth:captcha}" target="_blank">{lang phone_auth:captcha}</a>{lang phone_auth:captcha_loading}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dz-item-group">
                <span class="dz-intro"></span>
                <input class="checkbox" id="cookieTime" placeholder="" type="checkbox" name="cookietime"  value="2592000" />
                <label class="dz-item-text" for="cookieTime">{lang login_permanent}</label>
            </div>
            <div class="dz-item-group">
                <span class="dz-intro"></span>
                <button class="btn dz-btn login-button" disabled>{lang phone_auth:login}</button>
            </div>
		</div>
		<div class="vaptcha-dz-popup lost-password-form none">
			<div class="vaptcha-dz-step">
				<div class="dz-step-cont dz-step-acitve">
					<div class="dz-step">
						<div class="dz-step-number">1</div>
						<span class="dz-step-intro">{lang phone_auth:verify_code}</span>
					</div>
					<span class="dz-step-bar"></span>
				</div>
				<div class="dz-step-cont">
					<div class="dz-step">
						<div class="dz-step-number">2</div>
						<span class="dz-step-intro">{lang phone_auth:password_reset}</span>
					</div>
					<span class="dz-step-bar"></span>
				</div>
				<div class="dz-step-cont">
					<div class="dz-step">
						<div class="dz-step-number">3</div>
						<span class="dz-step-intro">{lang finished}</span>
					</div>
				</div>
			</div> 
            <div class="dz-item2-group">
                <input class="form-control dz-input" placeholder="{lang phone_auth:register_phone_pl}" type="text" name="phone"/>
            </div>
            <div class="dz-item2-group clearfix none send-code-group">
                <input class="form-control dz-input dz-input-code" placeholder="{lang phone_auth:code_pl}" type="text" name="code"/>
                <button class="btn dz-btn dz-btn-code">{lang phone_auth:send_code}</button>
            </div>
            <div class="dz-item2-group">
                <input type="hidden" name="vaptcha_token">
                <input type="hidden" name="vaptcha_challenge">
                <div class="vaptcha_container">
                    <div class="vaptcha-init-main">
                        <div class="vaptcha-init-loading">
                            <a><img src="https://cdn.vaptcha.com/vaptcha-loading.gif"/></a>
                            <span class="vaptcha-text"><a href="https://www.vaptcha.com/" title="{lang phone_auth:captcha}" target="_blank">{lang phone_auth:captcha}</a>{lang phone_auth:captcha_loading}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dz-item2-group">
                <button class="btn dz-btn next-step" disabled="disabled">{lang phone_auth:next_step}</button>
            </div> 
		</div>
		<div class="vaptcha-dz-popup reset-password none">
			<div class="vaptcha-dz-step">
				<div class="dz-step-cont dz-step-acitve">
					<div class="dz-step">
						<div class="dz-step-number">1</div>
						<span class="dz-step-intro">{lang phone_auth:verify_code}</span>
					</div>
					<span class="dz-step-bar"></span>
				</div>
				<div class="dz-step-cont">
					<div class="dz-step">
						<div class="dz-step-number">2</div>
						<span class="dz-step-intro">{lang phone_auth:password_reset}</span>
					</div>
					<span class="dz-step-bar"></span>
				</div>
				<div class="dz-step-cont">
					<div class="dz-step">
						<div class="dz-step-number">3</div>
						<span class="dz-step-intro">{lang finished}</span>
					</div>
				</div>
			</div> 
				<div class="dz-item2-group">
					<input class="form-control dz-input" placeholder="{lang phone_auth:new_pwd_pl}" type="password" name="new_password"   />
					<div class="pw-strength">
                        <div class="pw-bar"></div>
                        <div class="pw-bar-on"></div>
                        <div class="pw-separate">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
				</div>
				<div class="dz-item2-group">
					<input class="form-control dz-input " placeholder="{lang phone_auth:new_pwd_confim}" type="password" name="verify_password"/>
				</div>
				<div class="dz-item2-group">
					<button class="btn dz-btn submit-btn" disabled="disabled">{lang submit}</button>
				</div>
        </div>
        <div class="vaptcha-dz-tip vaptcha-tip-warn none">
            <img class="dz-tip-icon" src="{$static_path}/img/vaptcha-dz-warning.png"/>
            <span class="dz-tip-text"></span>
        </div>
        <div class="vaptcha-dz-tip vaptcha-tip-success none">
            <img class="dz-tip-icon" src="{$static_path}/img/vaptcha-dz-success.png"/>
            <span class="dz-tip-text"></span>
        </div>
		<div class="vaptcha-dz-popup bind-phone-form none"> 
            <h2 style="text-align: center; padding: 10px">{lang phone_auth:bind_phone_title}</h2>
            <div class="dz-item2-group">
                <input class="form-control dz-input" placeholder="{lang phone_auth:register_phone_pl}" type="text" name="phone"/>
            </div>
            <div class="dz-item2-group clearfix none send-code-group">
                <input class="form-control dz-input dz-input-code" placeholder="{lang phone_auth:code_pl}" type="text" name="code"/>
                <button class="btn dz-btn dz-btn-code">{lang phone_auth:send_code}</button>
            </div>
            <div class="dz-item2-group">
                <input type="hidden" name="vaptcha_token">
                <input type="hidden" name="vaptcha_challenge">
                <div class="vaptcha_container">
                    <div class="vaptcha-init-main">
                        <div class="vaptcha-init-loading">
                            <a><img src="https://cdn.vaptcha.com/vaptcha-loading.gif"/></a>
                            <span class="vaptcha-text"><a href="https://www.vaptcha.com/" title="{lang phone_auth:captcha}" target="_blank">{lang phone_auth:captcha}</a>{lang phone_auth:captcha_loading}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dz-item2-group">
                <button class="btn dz-btn bind-phone-btn" disabled="disabled">{lang phone_auth:click_bind}</button>
            </div> 
		</div>
    </div>
<script src="{$static_path}/js/v-helper.min.js"></script>
<script>
    (function login_run() {
        if(window.v_helper) {
            new v_helper({
                'vaptcha_color': '#{$params["style_color"]}',
                'vaptcha_style': '{$params["btn_style"]}',
                'site_url': '{$site_url}',
                lang: {
                    send_code: '{lang phone_auth:send_code}'
                }
            }).login_run({
                id: '$id',
                islostpwd: $islostpwd,
                lang: {
                    login_member: '{lang phone_auth:login_member}',
                    verify_phone: '{lang phone_auth:verify_phone}',
                    password_reset: '{lang phone_auth:password_reset}',
                    bind_phone: '{lang phone_auth:bind_phone}',
                    send_code: '{lang phone_auth:send_code}'
                },
                <!--{if $bind_phone}-->
                bind_phone: true
                <!--{/if}-->
            });
        } else {
            setTimeout(login_run);
        }
    })()
</script>
<!--{/block}-->
{eval return $return;}
{eval }
}