{eval 
    function register_template() {
        $id = L.random(4);
        global $_G;
        $setting = $_G['setting'];
        $bbrulehash = substr(md5(FORMHASH), 0, 8);
        $dreferer = dreferer();
        $params = get_params();
        $site_url  = get_site_url();
        $static_path  = rtrim($_G['siteurl'], '/').'/source/plugin/phone_auth/static';
}
<!--{block return}-->
<div id="registerphone_$id"  class="dz-register">
    <input type="hidden" name="regsubmit" value="yes" />
    <input type="hidden" name="formhash" value="{FORMHASH}" />
    <input type="hidden" name="referer" value="$dreferer" />
    <input type="hidden" name="activationauth" value="{if $_GET[action] == 'activation'}$activationauth{/if}" />
    <!--{if $setting['sendregisterurl']}-->
        <input type="hidden" name="hash" value="$_GET[hash]" />
    <!--{/if}-->
    <div class="content">
        <div class="dz-item-group">
            <span class="dz-intro"><sup>*</sup>{lang username}:</span>
            <input class="form-control dz-input" type="text" name="username">
            <span class="dz-title">{lang phone_auth:username_rule}</span>
        </div>
        <div class="v-line"></div> 
        <!--{if $params['register_email'] == '1'}-->
        <div class="dz-item-group">
            <span class="dz-intro"><sup>*</sup>{lang phone_auth:email}:</span>
            <input class="form-control dz-input" type="text" name="email">
            <span class="dz-title">{lang phone_auth:email_rule}</span>
        </div>
        <div class="v-line"></div> 
        <!--{/if}-->
        <div class="dz-item-group">
            <span class="dz-intro"><sup>*</sup>{lang panel_login_password}:</span>
            <input class="form-control dz-input" type="password" name="password" >
            <span class="dz-title">{lang phone_auth:password_rule}</span>
            <div class="pw-strength">
                    <div class="pw-bar"></div>
                    <div class="pw-bar-on"></div>
                    <div class="pw-separate">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
        </div>
        <div class="v-line"></div>
        <div class="dz-item-group">
            <span class="dz-intro"><sup>*</sup>{lang phone_auth:phone}:</span>
            <input maxlength="11"  class="form-control dz-input" name="phone">
            <span class="dz-title"></span>
        </div>
        <div class="dz-item-group none dz-code-group">
            <span class="dz-intro"><sup>*</sup>{lang phone_auth:code}:</span>
            <input class="form-control dz-input dz-input-code" placeholder="{lang phone_auth:code_pl}" type="text" name="code"/>
            <button class="btn dz-btn dz-btn-code">{lang phone_auth:send_code}</button>
        </div>
        <div class="dz-item-group">
            <span class="dz-intro"><sup>*</sup>{lang phone_auth:vaptcha}:</span>
            <input type="hidden" name="vaptcha_token">
            <input type="hidden" name="vaptcha_challenge">
            <div class="vaptcha_container">
                <div class="vaptcha-init-main">
                    <div class="vaptcha-init-loading"> 
                        <a><img src="https://cdn.vaptcha.com/vaptcha-loading.gif"/></a>
                        <span class="vaptcha-text"><a href="https://www.vaptcha.com/" title="{lang phone_auth:captcha}" target="_blank">{lang phone_auth:captcha}</a>{lang phone_auth:captcha_loading}</span>
                    </div>
                </div>
            </div>
            <span class="dz-title error"></span>
        </div>
        <div class="v-line"></div>
        <!--{if $setting['bbrules']}-->
        <div class="dz-item-group clearfix">
            <span class="dz-intro"></span>
            <input type="checkbox" class='checkbox' name="agreebbrule" value="$bbrulehash" checked id="agreebbrule">
            <label for="agreebbrule" class="dz-item-text">{lang phone_auth:agree}<a class="dz-link protocal-link" href="javascript:;">{lang phone_auth:rulemessage}</a></label>
        </div> 
        <!--{/if}-->
        <div class="dz-item-group  clearfix">
            <span class="dz-intro"></span>
            <button class="btn dz-btn" id="register_btn" disabled>{lang phone_auth:register}</button>
        </div>
    </div>
    <div class="vaptcha-tip-cont none">
        <div class="vaptcha-dz-tip vaptcha-tip-warn none">
            <img class="dz-tip-icon" src="{$static_path}/img/vaptcha-dz-warning.png"/>
            <span class="dz-tip-text"></span>
        </div>
        <div class="vaptcha-dz-tip vaptcha-tip-success none">
            <img class="dz-tip-icon" src="{$static_path}/img/vaptcha-dz-success.png"/>
            <span class="dz-tip-text"></span>
        </div>
    </div>
</div>
<script src="{$static_path}/js/v-helper.min.js"></script>
<script>
    (function register_run() {
        if(window.v_helper) {
            new v_helper({
                'vaptcha_color': '#{$params["style_color"]}',
                'vaptcha_style': '{$params["btn_style"]}',
                'site_url': '{$site_url}',
                lang: {
                    send_code: '{lang phone_auth:send_code}'
                }
            }).register_run({
                id: '$id',
                has_email: {$params["register_email"]},
                has_qq: 0,
                has_bbrules: {$setting['bbrules']},
                username: 'username',
                email: 'email',
                password: 'password',
                lang: {
                    username: '{lang phone_auth:username_rule}',
                    email: '{lang phone_auth:email_rule}',
                    email_error: '{lang phone_auth:email_error}',
                    qq_error: '{lang phone_auth:qq_error}',
                    password: '{lang phone_auth:password_not_match}',
                    phone: '{lang phone_auth:phone_error}',
                    code: '{lang phone_auth:send_code}'
                }
            });
        } else {
            setTimeout(register_run);
        }
    })()
</script>
<!--{/block}-->
{eval return $return;}
{eval }
}