<link rel="stylesheet" type="text/css" href="{$static_path}/css/message.css" />
<div id="app">

</div>
<script>
    window.config = {
        site_url: '{$site_url}',
        formhash: '{FORMHASH}',
        static_path: '{$static_path}'
    }
</script>
<script type=text/javascript src={$static_path}/js/member/manifest.aed16a0706d78ac3800c.js></script>
<script type=text/javascript src={$static_path}/js/member/vendor.702ef5cc1f3355b80476.js></script>
<script type=text/javascript src={$static_path}/js/member/app.f1c5004bd5f37e468b2e.js></script>