<link rel="stylesheet" type="text/css" href="{$static_path}/css/message.css" />
<div id="app">

</div>
<script>
    window.config = {
        site_url: '{$site_url}',
        formhash: '{FORMHASH}',
        static_path: '{$static_path}'
    }
</script>
<script type=text/javascript src={$static_path}/js/member/manifest.e4e5a82c4ba556a620e7.js></script>
<script type=text/javascript src={$static_path}/js/member/vendor.c1f95919dfeae6b554ee.js></script>
<script type=text/javascript src={$static_path}/js/member/app.25e65519e5ce6faf8bb4.js></script>