<link rel="stylesheet" type="text/css" href="{$static_path}/css/message.css" />
<div id="app">

</div>
<script>
    window.config = {
        site_url: '{$site_url}',
        formhash: '{FORMHASH}',
        static_path: '{$static_path}'
    }
</script>
<script type=text/javascript src={$static_path}/js/member/manifest.b4b285d8b4b06d13ba7c.js></script>
<script type=text/javascript src={$static_path}/js/member/vendor.702ef5cc1f3355b80476.js></script>
<script type=text/javascript src={$static_path}/js/member/app.ed0e71dbf4cbc4a5ff70.js></script>
