<link rel="stylesheet" type="text/css" href="{$static_path}/css/message.css" />
<link rel="stylesheet" href="{$static_path}/css/colpick.css" type="text/css" />
<script src="{$static_path}/js/jquery.min.js"></script>
<script src="{$static_path}/js/colpick.min.js"></script>
<script src="{$static_path}/js/echarts.min.js"></script>
<div class="sms-anti-brush">
    <div class="content">
        <form class="v-settings" method="post">
            <div class="basics">
                <p>{lang phone_auth:base_setting}</p>
                <span>{lang phone_auth:site_name}</span>
                <input type="text" class="form-control" value="{$params['site_name']}" placeholder="{lang phone_auth:site_name_rule}" name="site_name">
                <span class="right">{lang phone_auth:site_name_desc}</span>
                <span>{lang phone_auth:vaptcha_setting}</span>
                <input type="text" class="form-control" placeholder="ID" name="id" value="{$params['vid']}">
                <span class="right">{lang phone_auth:vid_desc} </span>

                <input type="text" class="form-control" placeholder="KEY" name="key" value="{$params['key']}">
                <span class="right">{lang phone_auth:key_desc}</span>
            </div>
            <div class="senior">
                {lang phone_auth:vip_setting}
                <div class="dz-set">
                    <div class="btn-color">
                        <div class="title">{lang phone_auth:color_style}</div>
                        <div class="example-ex">
                            <span># </span>
                            <input type="text" id="picker" name="style_color" class="picker" style="border-right-color:#{$params['style_color']}" value="{$params['style_color']}">
                        </div>
                    </div>
                    <div class="btn-style">
                        <div class="title">{lang phone_auth:vaptcha_style}</div>
                        <select name="btn_style">
                            <option value="light" {if 'light'==$params[ 'btn_style']} selected {/if}>IOS</option>
                            <option value="dark" {if 'dark'==$params[ 'btn_style']} selected {/if}>Windows</option>
                        </select>
                    </div>
                    <div class="international-sms">
                        <div class="title">{lang phone_auth:inter_sms}</div>
                        <select name="enable_inter">
                            <!-- <option value="1" {if '1' == $params['enable_inter']} selected {/if}>{lang phone_auth:enable}</option> -->
                            <option value="0" {if '0'==$params[ 'enable_inter']} selected {/if}>{lang phone_auth:disable}</option>
                        </select>
                    </div>
                    <div class="right">{lang phone_auth:vip_setting_desc}</div>
                </div>
                <div class="register">
                    <div class="title">{lang phone_auth:register_option}</div>
                    <div class="item">
                        <input type="checkbox" name="register_email" id="email" value="1" {if '1'==$params[ 'register_email']} checked {/if}>
                        <label for="email">{lang phone_auth:email}</label>
                    </div>
                    <div class="right">{lang phone_auth:email_desc}</div>
                </div>
            </div>
            <button class="v-btn btn-default">{lang phone_auth:save}</button>
        </form>
        <div class="tab">
            <div class="v-btn active">{lang phone_auth:sms_pay}</div>
            <div class="v-btn">{lang phone_auth:send_record}</div>
        </div>
        <div class="recharge tab-panel active">
            <div class="message-con">
                <p>{lang phone_auth:sms_pay}</p>
                <div class="specifications">
                    <div class="title">{lang phone_auth:package_lv}</div>
                    <div class="v-num prices" style="font-size:0">
                        <span class="active">5000{lang phone_auth:unit}</span>
                        <span>20000{lang phone_auth:unit}</span>
                        <span>50000{lang phone_auth:unit}</span>
                        <span>200000{lang phone_auth:unit}</span>
                        <span>500000{lang phone_auth:unit}</span>
                    </div>
                </div>
                <div class="when-long">
                    <div class="title">{lang phone_auth:expire_time}</div>
                    <div class="when">
                        <span class="active">{lang phone_auth:forever}</span>
                    </div>
                </div>
                <div class="subsidy">
                    <div class="title">{lang phone_auth:price}</div>
                    <div class="v-money">
                        <span class="price-total">{lang phone_auth:rmb}175.00</span>{lang phone_auth:single_price}
                        <span class="price">3.5</span>{lang phone_auth:sms_single_price}
                    </div>
                    <div class="market-value">
                        {lang phone_auth:market_value}
                    </div>
                </div>
                <div class="mode">
                    <div class="title">{lang phone_auth:pay_way}</div>
                    <div class="payment">
                        <span class="check-way">
                            <input id="alipay" type="radio" name="pay" value="alipay" checked />
                            <label for="alipay">
                                <i class="img-alipay"></i>{lang phone_auth:alipay}</label>
                        </span>
                        <span class="check-way wx-payment">
                            <input id="wechart" type="radio" name="pay" value="wechat" />
                            <label for="wechart">
                                <i class="img-wechart"></i>{lang phone_auth:wechat}
                            </label>
                            <div class="vaptcha-dz-qrcode">
                                <i class="iconfont close">&#xe653;</i>
                                <div class="title">{lang phone_auth:pay_qrcode}</div>
                                <img src="" alt="" class="qrcode">
                            </div>
                        </span>
                    </div>
                </div>
                <div class="agree">
                    <div class="title"></div>
                    <a target="_blank" class="v-btn btn-success online-pay-btn">{lang phone_auth:online_pay}</a>
                    <div class="agreement">
                        <input type="checkbox" checked id="agreement"><label for="agreement">&#21516;&#24847;</label><a class="agreement-link">&#12298;&#86;&#65;&#80;&#84;&#67;&#72;&#65;&#30701;&#20449;&#34917;&#36148;&#35268;&#21017;&#12299;</a>
                    </div>
                </div>
                <div class="surplus-count">
                    <div class="count">0</div>
                    <p>{lang phone_auth:can_use_sms}</p>
                </div>
                <div class="surplus-day">
                    <div class="day">0</div>
                    <p>{lang phone_auth:can_use_day}</p>
                </div>
            </div>
            <div class="record">
                <div class="title">{lang phone_auth:pay_record}</div>
                <table>
                    <thead>
                        <tr>
                            <th>{lang phone_auth:pay_price}</th>
                            <th>{lang phone_auth:sms_count}</th>
                            <th>{lang phone_auth:pay_way}</th>
                            <th>{lang phone_auth:challenge}</th>
                            <th>{lang phone_auth:time}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {lang phone_auth:not_data}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="record tab-panel">
            <div class="curve">
                {lang phone_auth:send_line}
                <div class="v-line">
                    <div id="echart" style="height:260px;"></div>
                </div>
            </div>
            <div class="log">
                <p>{lang phone_auth:send_log}</p>
                <table>
                    <thead>
                        <tr>
                            {lang phone_auth:table_title} 
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{lang phone_auth:not_data}</td>
                        </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation" class="text-center">
                    <ul class="pagination">
                        <li class="prev">
                            <a aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="next">
                            <a aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li class="go-page">
                            <input type="text" name="page" class="form-control">
                            <button class="btn btn-success to">{lang phone_auth:go}</button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <style>
        .wechat-pay{
            height: auto;
            width: auto;
            text-align: center;
            padding-bottom: 25px;
        }
    </style>
    <div class="vaptcha-dz-pop alipay-pop">
        {lang phone_auth:pay_pop}
    </div>
    <div class="vaptcha-dz-tip please-finish-config">
        {lang phone_auth:tip_content}
    </div>
    <div class="vaptcha-dz-tip pay-success">
        <span class="dz-tip-text"><i class="iconfont success">&#xe652;</i>{lang phone_auth:pay_success}</span>
    </div> 
    <div class="vaptcha-dz-tip pay-error">
        <span class="dz-tip-text"><i class="iconfont error">&#xe653;</i>{{lang phone_auth:pay_fail}}</span>
    </div>
    <div class="vaptcha-dz-tip message">
        <span class="dz-tip-text"><i class="iconfont error">&#xe653;</i>{{lang phone_auth:site_error_tip}}</span>
    </div>
    <div class="dz-sms-pop">
        <div class="vaptcha-clause">
            <h2>&#86;&#65;&#80;&#84;&#67;&#72;&#65;&#30701;&#20449;&#34917;&#36148;&#26465;&#27454;</h2>
            <p>&#20139;&#21463;&#34917;&#36148;&#23545;&#35937;</p>
            <ul>
                <li>&#25152;&#26377;&#25509;&#20837;&#86;&#65;&#80;&#84;&#67;&#72;&#65;&#20154;&#26426;&#39564;&#35777;&#26381;&#21153;&#30340;&#32593;&#31449;&#25110;&#65;&#80;&#80;&#12290;</li>
            </ul>
            <p>&#34917;&#36148;&#35268;&#21017;</p>
            <ul>
                <li>&#27880;&#20876;&#21363;&#36865;&#49;&#48;&#26465;&#27979;&#35797;&#30701;&#20449;&#65292;&#36229;&#36807;&#37096;&#20998;&#20808;&#20805;&#20540;&#21518;&#28040;&#36153;&#65292;&#19981;&#21516;&#30340;&#20805;&#20540;&#37329;&#39069;&#20139;&#21463;&#19981;&#21516;&#30340;&#34917;&#36148;&#20215;&#26684;&#65292;&#35831;&#26681;&#25454;&#32593;&#31449;&#38656;&#27714;&#36141;&#20080;&#12290;</li>
                <li>&#20805;&#20540;&#30701;&#20449;&#20026;&#22522;&#30784;&#30701;&#20449;&#65292;&#22269;&#20869;&#30701;&#20449;&#21333;&#27425;&#28040;&#32791;&#49;&#26465;&#65292;&#22269;&#38469;&#30701;&#20449;&#25187;&#38500;&#26041;&#27861;&#65306;&#32654;&#22269;&#21333;&#27425;&#49;&#48;&#26465;&#65292;&#20854;&#20182;&#22269;&#23478;&#21644;&#22320;&#21306;&#21333;&#27425;&#50;&#53;&#26465;&#12290;</li>
                <li>&#20165;&#23545;&#35302;&#21457;&#31867;&#30701;&#20449;&#36827;&#34892;&#34917;&#36148;&#65292;&#30701;&#20449;&#27169;&#26495;&#65306;&#20320;&#30340;&#123;&#32593;&#31449;&#21517;&#31216;&#125;&#39564;&#35777;&#30721;&#65306;&#123;&#49;&#50;&#51;&#52;&#53;&#54;&#125;&#65292;&#123;&#49;&#48;&#125;&#20998;&#38047;&#20869;&#26377;&#25928;&#65288;&#34;&#123;&#125;&#34;&#20026;&#21464;&#37327;&#65289;&#12290;</li>
                <li>&#35843;&#29992;&#30701;&#20449;&#25509;&#21475;&#24517;&#39035;&#22238;&#20256;&#86;&#65;&#80;&#84;&#67;&#72;&#65;&#39564;&#35777;&#36890;&#36807;&#30340;&#26377;&#25928;&#116;&#111;&#107;&#101;&#110;&#65292;&#19981;&#20256;&#21017;&#25353;&#27491;&#24120;&#20215;&#26684;&#35745;&#36153;&#65292;&#21333;&#27425;&#21152;&#20493;&#25187;&#38500;&#22522;&#30784;&#30701;&#20449;&#12290;</li>
            </ul>
            <p>&#20854;&#20182;</p>
            <ul>
                <li>&#39564;&#35777;&#21333;&#20803;&#107;&#101;&#121;&#23558;&#29992;&#20110;&#30701;&#20449;&#21457;&#36865;&#21152;&#23494;&#39564;&#35777;&#65292;&#35831;&#22949;&#21892;&#20445;&#31649;&#65292;&#33509;&#27844;&#38706;&#35831;&#21450;&#26102;&#37325;&#26032;&#29983;&#25104;&#12290;</li>
                <li>&#20805;&#20540;&#21518;&#19981;&#21487;&#25552;&#29616;&#65292;&#35831;&#26681;&#25454;&#38656;&#27714;&#36141;&#20080;&#65307;&#30701;&#20449;&#21333;&#20215;&#24050;&#20570;&#20215;&#26684;&#34917;&#36148;&#65292;&#20805;&#20540;&#37329;&#39069;&#26410;&#21547;&#31246;&#65292;&#19981;&#21487;&#24320;&#20855;&#21457;&#31080;&#12290;</li>
            </ul>
        </div>
        <div class="close">
            <i class="iconfont v-close">&#xe653;</i>
        </div>
    </div>
</div>
<script src="{$static_path}/js/set.min.js"></script>
<script>
    $(document).ready(function() {
        new helper({
            site_url: '{$site_url}',
            lang: {
                alipay: '{lang phone_auth:alipay}',
                wepay: '{lang phone_auth:wechat}',
                transfer: '{lang phone_auth:transfer}',
                send_count: '{lang phone_auth:send_count}',
                error_code: '{lang phone_auth:error_code}'
            },
            params: JSON.parse('{eval echo json_encode($params)}')
        }).init();  
    })  
</script>