html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 1200px; }

p,
h2 {
  margin: 0;
  padding: 0;
  color: #00BFFF; }

.sms-anti-brush {
  height: 100%; }
  .sms-anti-brush .content {
    min-height: calc(100% - 40px);
    padding: 20px; }
    .sms-anti-brush .content .v-settings {
      padding: 15px;
      background: #fff;
      border: 1px solid #eee; }
      .sms-anti-brush .content .v-settings .basics, .sms-anti-brush .content .v-settings .senior {
        padding-bottom: 20px;
        border-bottom: 1px solid #F9F9F9; }
        .sms-anti-brush .content .v-settings .basics p, .sms-anti-brush .content .v-settings .senior p {
          color: #333333;
          font-size: 14px; }
        .sms-anti-brush .content .v-settings .basics span, .sms-anti-brush .content .v-settings .senior span {
          margin: 15px 0 10px 5px;
          display: inline-block;
          font-size: 12px;
          color: #666666; }
          .sms-anti-brush .content .v-settings .basics span.right, .sms-anti-brush .content .v-settings .senior span.right {
            float: right;
            color: #CCCCCC; }
        .sms-anti-brush .content .v-settings .basics input, .sms-anti-brush .content .v-settings .senior input {
          margin-left: 5px;
          display: block; }
      .sms-anti-brush .content .v-settings .senior p span {
        margin-left: 20px;
        color: #CCCCCC;
        font-size: 12px; }
      .sms-anti-brush .content .v-settings .senior input {
        display: inline-block; }
      .sms-anti-brush .content .v-settings .senior .example-ex {
        width: 90px; }
        .sms-anti-brush .content .v-settings .senior .example-ex span {
          margin: 0;
          padding: 0 2px;
          line-height: 30px; }
      .sms-anti-brush .content .v-settings .senior .btn-color,
      .sms-anti-brush .content .v-settings .senior .btn-style,
      .sms-anti-brush .content .v-settings .senior .international-sms,
      .sms-anti-brush .content .v-settings .senior .register {
        display: inline-block;
        margin-left: 5px; }
        .sms-anti-brush .content .v-settings .senior .btn-color .title,
        .sms-anti-brush .content .v-settings .senior .btn-style .title,
        .sms-anti-brush .content .v-settings .senior .international-sms .title,
        .sms-anti-brush .content .v-settings .senior .register .title {
          color: #666666;
          font-size: 12px;
          margin-bottom: 5px; }
        .sms-anti-brush .content .v-settings .senior .btn-color select,
        .sms-anti-brush .content .v-settings .senior .btn-style select,
        .sms-anti-brush .content .v-settings .senior .international-sms select,
        .sms-anti-brush .content .v-settings .senior .register select {
          width: 100px;
          height: 30px;
          border: 1px solid #ddd;
          border-radius: 2px;
          outline: none;
          cursor: pointer;
          color: #999999; }
      .sms-anti-brush .content .v-settings .senior .right {
        float: right;
        line-height: 30px;
        color: #CCCCCC;
        font-size: 12px; }
      .sms-anti-brush .content .v-settings .senior .register {
        margin-top: 10px;
        display: block; }
        .sms-anti-brush .content .v-settings .senior .register .item {
          display: inline-block;
          margin-right: 10px;
          color: #999999;
          font-size: 12px; }
          .sms-anti-brush .content .v-settings .senior .register .item input[type='checkbox'] {
            vertical-align: middle;
            cursor: pointer; }
      .sms-anti-brush .content .v-settings .v-btn {
        margin-top: 40px; }
        .sms-anti-brush .content .v-settings .v-btn button {
          width: 120px;
          height: 36px;
          border: none;
          color: #fff;
          background: #0088ff;
          background: rgba(0, 136, 255, 0.9);
          border-radius: 2px;
          cursor: pointer; }
          .sms-anti-brush .content .v-settings .v-btn button:hover {
            background: #0088ff; }
    .sms-anti-brush .content .tab {
      margin-top: 15px; }
      .sms-anti-brush .content .tab .v-btn {
        display: inline-block;
        width: 130px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        color: #CCCCCC;
        font-size: 16px;
        background: #F1F1F1;
        cursor: pointer; }
        .sms-anti-brush .content .tab .v-btn.active {
          color: #666666;
          background: #fff; }
    .sms-anti-brush .content .recharge,
    .sms-anti-brush .content .record {
      padding: 15px;
      display: none;
      background: #fff; }
      .sms-anti-brush .content .recharge.active,
      .sms-anti-brush .content .record.active {
        display: block;
        border: 1px solid #eee; }
    .sms-anti-brush .content .recharge {
      padding: 10px;
      background: #fff; }
      .sms-anti-brush .content .recharge .title {
        color: #202B39;
        font-size: 14px; }
      .sms-anti-brush .content .recharge .message-con {
        margin-left: 5px;
        border-bottom: 1px solid #F9F9F9;
        position: relative; }
        .sms-anti-brush .content .recharge .message-con p {
          font-size: 14px;
          color: #202B39;
          margin-bottom: 22px; }
        .sms-anti-brush .content .recharge .message-con .title {
          display: inline-block;
          width: 100px;
          color: #999999;
          font-size: 12px; }
        .sms-anti-brush .content .recharge .message-con .specifications span, .sms-anti-brush .content .recharge .message-con .when-long span {
          display: inline-block;
          margin-right: 1px;
          width: 125px;
          height: 32px;
          text-align: center;
          line-height: 32px;
          background: #F3F3F3;
          color: #858585;
          font-size: 14px;
          cursor: pointer; }
          .sms-anti-brush .content .recharge .message-con .specifications span.active, .sms-anti-brush .content .recharge .message-con .when-long span.active {
            background: #12C0FA;
            color: #fff; }
        .sms-anti-brush .content .recharge .message-con .specifications {
          position: relative;
          height: 50px; }
          .sms-anti-brush .content .recharge .message-con .specifications .v-num {
            position: absolute;
            left: 100px;
            top: 0;
            font-size: 0; }
        .sms-anti-brush .content .recharge .message-con .when-long {
          position: relative;
          height: 50px; }
          .sms-anti-brush .content .recharge .message-con .when-long .when {
            position: absolute;
            left: 100px;
            top: 0; }
        .sms-anti-brush .content .recharge .message-con .subsidy {
          position: relative;
          height: 50px;
          width: 735px; }
          .sms-anti-brush .content .recharge .message-con .subsidy .v-money {
            display: inline-block;
            position: absolute;
            left: 100px;
            font-size: 14px;
            color: #FF5A26; }
            .sms-anti-brush .content .recharge .message-con .subsidy .v-money span.price-total {
              font-size: 22px;
              font-weight: 600; }
            .sms-anti-brush .content .recharge .message-con .subsidy .v-money span.price {
              font-size: 14px;
              color: #FF5B26; }
          .sms-anti-brush .content .recharge .message-con .subsidy .market-value {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 12px;
            color: #B9B9B9;
            line-height: 32px; }
            .sms-anti-brush .content .recharge .message-con .subsidy .market-value i {
              font-size: 14px;
              margin-left: 6px;
              color: #999;
              color: rgba(153, 153, 153, 0.9);
              cursor: pointer; }
              .sms-anti-brush .content .recharge .message-con .subsidy .market-value i:hover {
                color: #999; }
        .sms-anti-brush .content .recharge .message-con .surplus-count,
        .sms-anti-brush .content .recharge .message-con .surplus-day {
          position: absolute;
          right: 0;
          width: 190px;
          height: 80px;
          padding-top: 10px;
          text-align: center;
          background: #F9F9F9; }
          .sms-anti-brush .content .recharge .message-con .surplus-count p,
          .sms-anti-brush .content .recharge .message-con .surplus-day p {
            color: #CCCCCC;
            font-size: 12px; }
        .sms-anti-brush .content .recharge .message-con .surplus-count {
          top: 20px;
          padding-top: 10px; }
          .sms-anti-brush .content .recharge .message-con .surplus-count .count {
            font-size: 40px;
            color: #666666; }
        .sms-anti-brush .content .recharge .message-con .surplus-day {
          top: 120px; }
          .sms-anti-brush .content .recharge .message-con .surplus-day .day {
            font-size: 40px;
            color: #D90000; }
        .sms-anti-brush .content .recharge .message-con .mode span {
          color: #868686;
          font-size: 12px;
          margin-right: 20px; }
        .sms-anti-brush .content .recharge .message-con .mode .payment {
          display: inline-block; }
          .sms-anti-brush .content .recharge .message-con .mode .payment input[type="radio"] {
            cursor: pointer;
            vertical-align: middle;
            margin-right: 6px; }
          .sms-anti-brush .content .recharge .message-con .mode .payment i {
            width: 20px;
            height: 20px;
            position: relative;
            display: inline-block;
            margin-right: 8px;
            background: url(../img/vaptcha-dz.png);
            background-repeat: no-repeat;
            vertical-align: middle; }
            .sms-anti-brush .content .recharge .message-con .mode .payment i.img-alipay {
              background-position: -0 -145px; }
            .sms-anti-brush .content .recharge .message-con .mode .payment i.img-wechart {
              background-position: -0 -120px; }
      .sms-anti-brush .content .recharge .agree {
        margin: 40px 0 20px 0;
        position: relative;
        width: 735px; }
        .sms-anti-brush .content .recharge .agree button.v-btn.btn-success {
          width: 120px;
          height: 36px;
          border: none;
          color: #fff;
          background: #0088ff;
          background: rgba(0, 136, 255, 0.9);
          border-radius: 2px;
          cursor: pointer; }
          .sms-anti-brush .content .recharge .agree button.v-btn.btn-success:hover {
            background: #0088ff; }
        .sms-anti-brush .content .recharge .agree .agreement {
          position: absolute;
          right: 0;
          top: 0;
          font-size: 12px;
          line-height: 36px;
          color: #868686;
          cursor: pointer; }
          .sms-anti-brush .content .recharge .agree .agreement input[type='checkbox'] {
            vertical-align: middle;
            margin-right: 8px;
            cursor: pointer; }
          .sms-anti-brush .content .recharge .agree .agreement a {
            color: #666666;
            text-decoration: none; }
            .sms-anti-brush .content .recharge .agree .agreement a:hover {
              color: #666666;
              text-decoration: underline; }
      .sms-anti-brush .content .recharge .record {
        display: block;
        margin-top: 10px;
        padding: 10px;
        background: #fff; }
        .sms-anti-brush .content .recharge .record .title {
          color: #202B39;
          font-size: 14px; }
        .sms-anti-brush .content .recharge .record table {
          width: 100%;
          margin-top: 15px;
          margin-bottom: 20px;
          border-collapse: collapse; }
          .sms-anti-brush .content .recharge .record table thead {
            background: #F9F9F9;
            border-bottom: 1px solid #ddd; }
            .sms-anti-brush .content .recharge .record table thead tr {
              height: 36px; }
              .sms-anti-brush .content .recharge .record table thead tr th {
                text-align: left;
                font-weight: normal;
                color: #888888;
                font-size: 12px; }
                .sms-anti-brush .content .recharge .record table thead tr th:first-child {
                  padding-left: 10px; }
          .sms-anti-brush .content .recharge .record table tbody tr {
            border-bottom: 1px solid #fafafa; }
            .sms-anti-brush .content .recharge .record table tbody tr td {
              color: #999999;
              font-size: 12px;
              line-height: 40px; }
              .sms-anti-brush .content .recharge .record table tbody tr td:first-child {
                padding-left: 10px; }
    .sms-anti-brush .content .record .curve {
      margin-top: 15px;
      border-bottom: 1px solid #F9F9F9;
      margin-bottom: 20px; }
      .sms-anti-brush .content .record .curve P {
        color: #333333;
        font-size: 14px; }
      .sms-anti-brush .content .record .curve .v-line {
        width: 100%;
        height: 260px; }
    .sms-anti-brush .content .record .log P {
      color: #333333;
      font-size: 14px; }
    .sms-anti-brush .content .record .log table {
      width: 100%;
      margin-top: 15px;
      margin-bottom: 20px;
      border-collapse: collapse; }
      .sms-anti-brush .content .record .log table thead {
        background: #F9F9F9;
        border-bottom: 1px solid #ddd; }
        .sms-anti-brush .content .record .log table thead tr {
          height: 36px; }
          .sms-anti-brush .content .record .log table thead tr th {
            font-weight: normal;
            color: #777777;
            font-size: 12px;
            text-align: left; }
            .sms-anti-brush .content .record .log table thead tr th:first-child {
              padding-left: 10px; }
      .sms-anti-brush .content .record .log table tbody tr {
        border-bottom: 1px solid #fafafa; }
        .sms-anti-brush .content .record .log table tbody tr td {
          padding: 10px 0;
          line-height: 20px;
          color: #878787;
          font-size: 12px; }
          .sms-anti-brush .content .record .log table tbody tr td:first-child {
            padding-left: 10px; }
          .sms-anti-brush .content .record .log table tbody tr td .fa {
            font-size: 16px; }
            .sms-anti-brush .content .record .log table tbody tr td .fa.fa-check-circle {
              color: #00D8A3; }
            .sms-anti-brush .content .record .log table tbody tr td .fa.fa-times-circle {
              color: #D90000; }
          .sms-anti-brush .content .record .log table tbody tr td.international {
            color: #0085B2; }
    .sms-anti-brush .content input.form-control {
      width: 250px;
      height: 30px;
      padding: 0 6px;
      margin-bottom: 10px;
      outline: none;
      border: 1px solid #DDDDDD;
      border-radius: 2px; }
      .sms-anti-brush .content input.form-control:focus {
        border-color: #12C0FA; }
    .sms-anti-brush .content a {
      color: #007FFF;
      text-decoration: none; }
      .sms-anti-brush .content a:hover {
        text-decoration: underline; }

.example-ex {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 2px; }
  .example-ex span {
    margin: 0;
    padding: 0 2px;
    font-size: 14px;
    line-height: 26px; }
  .example-ex input {
    position: absolute;
    right: 2px;
    top: 2px;
    cursor: pointer; }
    .example-ex input.picker {
      padding: 0;
      border: 0;
      width: 60px;
      height: 26px;
      font-size: 12px;
      border-right: 14px solid #3c8aff;
      line-height: 20px;
      outline: none;
      color: #666666; }

table tr th:last-child {
  width: 140px; }

input::-webkit-input-placeholder {
  color: #999999; }

input:-moz-placeholder {
  color: #999999; }

input::-moz-placeholder {
  color: #999999; }

input:-ms-input-placeholder {
  color: #999999; }

.vaptcha-dz-tip {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  padding: 0 40px;
  min-width: 200px;
  height: 50px;
  line-height: 50px;
  background-color: #FFFFFF;
  font-size: 0;
  text-align: center;
  box-shadow: 0 0 3px 6px rgba(0, 0, 0, 0.06);
  transform: translateX(-50%);
  transform: -webkit-translateX(-50%);
  transform: -moz-translateX(-50%);
  transform: -ms-translateX(-50%);
  -webkit-box-shadow: 0 0 3px 6px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 0 3px 6px rgba(0, 0, 0, 0.06);
  -ms-box-shadow: 0 0 3px 6px rgba(0, 0, 0, 0.06); }
  .vaptcha-dz-tip .dz-tip-text {
    font-size: 12px;
    color: #888888; }
    .vaptcha-dz-tip .dz-tip-text .vaptcha {
      margin-left: 5px;
      font-size: 14px;
      font-weight: 700;
      color: #FF8000; }
  .vaptcha-dz-tip.active {
    display: block; }

/*# sourceMappingURL=message.css.map */
