html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 1200px; }

@font-face {
  font-family: 'iconfont';
  src: url("iconfont.eot");
  src: url("iconfont.eot?#iefix") format("embedded-opentype"), url("iconfont.woff") format("woff"), url("iconfont.ttf") format("truetype"), url("iconfont.svg#iconfont") format("svg"); }
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle; }
  .iconfont.success {
    margin-right: 8px;
    color: #00D9A3; }
  .iconfont.error {
    margin-right: 8px;
    font-size: 18px;
    color: #D90000; }
  .iconfont.prompt {
    color: #999; }
    .iconfont.prompt:hover {
      color: #777777; }

p,
h2 {
  margin: 0;
  padding: 0;
  color: #00BFFF;
  font-weight: 600; }

.sms-anti-brush {
  height: 100%; }
  .sms-anti-brush .content {
    min-height: calc(100% - 40px);
    padding: 20px; }
    .sms-anti-brush .content .v-settings {
      padding: 15px;
      background: #fff;
      border: 1px solid #eee; }
      .sms-anti-brush .content .v-settings .basics, .sms-anti-brush .content .v-settings .senior {
        padding-bottom: 20px;
        border-bottom: 1px solid #F9F9F9; }
        .sms-anti-brush .content .v-settings .basics p, .sms-anti-brush .content .v-settings .senior p {
          color: #333333;
          font-size: 14px; }
        .sms-anti-brush .content .v-settings .basics span, .sms-anti-brush .content .v-settings .senior span {
          margin: 15px 0 10px 5px;
          display: inline-block;
          font-size: 12px;
          color: #666666; }
          .sms-anti-brush .content .v-settings .basics span.right, .sms-anti-brush .content .v-settings .senior span.right {
            float: right;
            color: #CCCCCC; }
        .sms-anti-brush .content .v-settings .basics input, .sms-anti-brush .content .v-settings .senior input {
          margin-left: 5px;
          display: block; }
      .sms-anti-brush .content .v-settings .senior p {
        margin: 15px 0 15px 0; }
        .sms-anti-brush .content .v-settings .senior p span {
          color: #CCCCCC;
          font-size: 12px; }
      .sms-anti-brush .content .v-settings .senior input {
        display: inline-block; }
      .sms-anti-brush .content .v-settings .senior .example-ex {
        width: 90px; }
        .sms-anti-brush .content .v-settings .senior .example-ex span {
          margin: 0;
          padding: 0 2px;
          line-height: 30px; }
      .sms-anti-brush .content .v-settings .senior .btn-color,
      .sms-anti-brush .content .v-settings .senior .btn-style,
      .sms-anti-brush .content .v-settings .senior .international-sms,
      .sms-anti-brush .content .v-settings .senior .register {
        display: inline-block;
        margin-left: 5px; }
        .sms-anti-brush .content .v-settings .senior .btn-color .title,
        .sms-anti-brush .content .v-settings .senior .btn-style .title,
        .sms-anti-brush .content .v-settings .senior .international-sms .title,
        .sms-anti-brush .content .v-settings .senior .register .title {
          color: #666666;
          font-size: 12px;
          margin-bottom: 5px; }
        .sms-anti-brush .content .v-settings .senior .btn-color select,
        .sms-anti-brush .content .v-settings .senior .btn-style select,
        .sms-anti-brush .content .v-settings .senior .international-sms select,
        .sms-anti-brush .content .v-settings .senior .register select {
          width: 100px;
          height: 30px;
          border: 1px solid #ddd;
          border-radius: 2px;
          outline: none;
          cursor: pointer;
          color: #999999; }
      .sms-anti-brush .content .v-settings .senior .right {
        float: right;
        line-height: 30px;
        color: #CCCCCC;
        font-size: 12px; }
      .sms-anti-brush .content .v-settings .senior .register {
        margin-top: 10px;
        display: block; }
        .sms-anti-brush .content .v-settings .senior .register .item {
          display: inline-block;
          margin-right: 10px;
          color: #999999;
          font-size: 12px; }
          .sms-anti-brush .content .v-settings .senior .register .item input[type='checkbox'] {
            vertical-align: middle;
            cursor: pointer; }
    .sms-anti-brush .content .tab {
      margin-top: 15px; }
      .sms-anti-brush .content .tab .v-btn {
        display: inline-block;
        width: 130px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        color: #aaa;
        font-size: 16px;
        background: #fff;
        cursor: pointer; }
        .sms-anti-brush .content .tab .v-btn.active {
          color: #444;
          font-weight: 600;
          background: #F1F1F1; }
    .sms-anti-brush .content .recharge,
    .sms-anti-brush .content .record {
      padding: 15px;
      display: none;
      background: #fff; }
      .sms-anti-brush .content .recharge.active,
      .sms-anti-brush .content .record.active {
        display: block;
        border: 1px solid #eee; }
    .sms-anti-brush .content .recharge {
      padding: 10px;
      background: #fff; }
      .sms-anti-brush .content .recharge .title {
        color: #202B39;
        font-size: 14px; }
      .sms-anti-brush .content .recharge .message-con {
        margin-left: 5px;
        border-bottom: 1px solid #F9F9F9;
        position: relative; }
        .sms-anti-brush .content .recharge .message-con p {
          font-size: 14px;
          color: #202B39;
          font-weight: normal;
          margin-bottom: 22px; }
        .sms-anti-brush .content .recharge .message-con .title {
          display: inline-block;
          width: 100px;
          color: #999999;
          font-size: 12px;
          line-height: 32px; }
        .sms-anti-brush .content .recharge .message-con .specifications span, .sms-anti-brush .content .recharge .message-con .when-long span {
          display: inline-block;
          margin-right: 1px;
          width: 125px;
          height: 32px;
          text-align: center;
          line-height: 32px;
          background: #F3F3F3;
          color: #858585;
          font-size: 14px;
          cursor: pointer; }
          .sms-anti-brush .content .recharge .message-con .specifications span.active, .sms-anti-brush .content .recharge .message-con .when-long span.active {
            background: #12C0FA;
            color: #fff; }
        .sms-anti-brush .content .recharge .message-con .specifications {
          position: relative;
          height: 50px; }
          .sms-anti-brush .content .recharge .message-con .specifications .v-num {
            position: absolute;
            left: 100px;
            top: 0;
            font-size: 0; }
        .sms-anti-brush .content .recharge .message-con .when-long {
          position: relative;
          height: 50px; }
          .sms-anti-brush .content .recharge .message-con .when-long .when {
            position: absolute;
            left: 100px;
            top: 0; }
        .sms-anti-brush .content .recharge .message-con .subsidy {
          position: relative;
          height: 50px;
          width: 730px; }
          .sms-anti-brush .content .recharge .message-con .subsidy .v-money {
            display: inline-block;
            position: absolute;
            left: 100px;
            font-size: 14px;
            color: #FF5A26; }
            .sms-anti-brush .content .recharge .message-con .subsidy .v-money span.price-total {
              font-size: 22px;
              font-weight: 600; }
            .sms-anti-brush .content .recharge .message-con .subsidy .v-money span.price {
              font-size: 14px;
              color: #FF5B26; }
          .sms-anti-brush .content .recharge .message-con .subsidy .market-value {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 12px;
            color: #B9B9B9;
            line-height: 32px; }
            .sms-anti-brush .content .recharge .message-con .subsidy .market-value i {
              position: relative;
              color: #999;
              color: rgba(153, 153, 153, 0.9);
              font-size: 14px;
              cursor: pointer; }
              .sms-anti-brush .content .recharge .message-con .subsidy .market-value i span {
                display: none; }
              .sms-anti-brush .content .recharge .message-con .subsidy .market-value i:hover {
                color: #999;
                background: none;
                font-size: 14px;
                transform: 1s; }
                .sms-anti-brush .content .recharge .message-con .subsidy .market-value i:hover span {
                  z-index: 3;
                  display: block;
                  position: absolute;
                  padding: 0 10px;
                  white-space: pre;
                  font-size: 12px;
                  -webkit-text-stroke-width: 0;
                  color: #fff;
                  background: #39424E;
                  border-radius: 2px; }
        .sms-anti-brush .content .recharge .message-con .surplus-count,
        .sms-anti-brush .content .recharge .message-con .surplus-day {
          position: absolute;
          right: 0;
          width: 190px;
          height: 80px;
          padding-top: 10px;
          text-align: center;
          background: #F9F9F9; }
          .sms-anti-brush .content .recharge .message-con .surplus-count p,
          .sms-anti-brush .content .recharge .message-con .surplus-day p {
            color: #CCCCCC;
            font-size: 12px; }
        .sms-anti-brush .content .recharge .message-con .surplus-count {
          top: 20px;
          padding-top: 10px; }
          .sms-anti-brush .content .recharge .message-con .surplus-count .count {
            font-size: 40px;
            color: #666666; }
        .sms-anti-brush .content .recharge .message-con .surplus-day {
          top: 120px; }
          .sms-anti-brush .content .recharge .message-con .surplus-day .day {
            font-size: 40px;
            color: #D90000; }
        .sms-anti-brush .content .recharge .message-con .mode span {
          color: #868686;
          font-size: 12px;
          margin-right: 20px; }
        .sms-anti-brush .content .recharge .message-con .mode .payment {
          display: inline-block; }
          .sms-anti-brush .content .recharge .message-con .mode .payment .wx-payment {
            position: relative; }
            .sms-anti-brush .content .recharge .message-con .mode .payment .wx-payment .vaptcha-dz-qrcode {
              position: absolute;
              left: 30px;
              top: -172px;
              width: 340px;
              height: 360px;
              line-height: 20px;
              padding: 10px 20px 20px 20px;
              background: #fff;
              box-sizing: border-box;
              z-index: 4;
              transition: all .1s ease-in;
              -moz-transition: all .1s ease-in;
              -webkit-transition: all .1s ease-in;
              -o-transition: all .1s ease-in;
              opacity: 0;
              visibility: hidden;
              text-align: center;
              box-shadow: 0 0 3px 6px rgba(0, 0, 0, 0.06);
              -webkit-box-shadow: 0 0 3px 6px rgba(0, 0, 0, 0.06);
              -moz-box-shadow: 0 0 3px 6px rgba(0, 0, 0, 0.06);
              -ms-box-shadow: 0 0 3px 6px rgba(0, 0, 0, 0.06); }
              .sms-anti-brush .content .recharge .message-con .mode .payment .wx-payment .vaptcha-dz-qrcode::before {
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                left: -10px;
                top: calc(50% - 10px);
                border-left: 10px solid transparent;
                border-top: 10px solid transparent;
                border-right: 10px solid #fff;
                border-bottom: 10px solid #fff;
                transform: rotate(135deg);
                box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.06);
                -webkit-box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.06);
                -moz-box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.06);
                -ms-box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.06); }
              .sms-anti-brush .content .recharge .message-con .mode .payment .wx-payment .vaptcha-dz-qrcode i.iconfont.close {
                position: absolute;
                width: 30px;
                text-align: center;
                height: 30px;
                line-height: 30px;
                right: -23px;
                top: -14px;
                font-size: 25px;
                vertical-align: middle;
                color: rgba(0, 0, 0, 0.8);
                background: none;
                cursor: pointer; }
                .sms-anti-brush .content .recharge .message-con .mode .payment .wx-payment .vaptcha-dz-qrcode i.iconfont.close:hover {
                  color: black; }
              .sms-anti-brush .content .recharge .message-con .mode .payment .wx-payment .vaptcha-dz-qrcode .title {
                width: auto;
                color: #666666;
                font-size: 16px;
                line-height: 30px;
                font-weight: 600; }
              .sms-anti-brush .content .recharge .message-con .mode .payment .wx-payment .vaptcha-dz-qrcode .qrcode {
                width: 300px;
                height: 300px; }
              .sms-anti-brush .content .recharge .message-con .mode .payment .wx-payment .vaptcha-dz-qrcode.active {
                opacity: 1;
                left: 120px;
                visibility: visible; }
          .sms-anti-brush .content .recharge .message-con .mode .payment input[type="radio"] {
            cursor: pointer;
            vertical-align: middle;
            margin-right: 6px; }
          .sms-anti-brush .content .recharge .message-con .mode .payment i {
            width: 20px;
            height: 20px;
            position: relative;
            display: inline-block;
            margin-right: 8px;
            background: url(../img/vaptcha-dz.png);
            background-repeat: no-repeat;
            vertical-align: middle; }
            .sms-anti-brush .content .recharge .message-con .mode .payment i.img-alipay {
              background-position: -0 -145px; }
            .sms-anti-brush .content .recharge .message-con .mode .payment i.img-wechart {
              background-position: -0 -120px; }
      .sms-anti-brush .content .recharge .agree {
        margin: 40px 0 20px 0;
        position: relative;
        width: 730px; }
        .sms-anti-brush .content .recharge .agree .v-btn.btn-success {
          display: inline-block;
          width: 120px;
          height: 36px;
          line-height: 36px;
          text-align: center;
          border: none;
          color: #fff !important;
          font-size: 14px;
          background: #0088ff;
          background: rgba(0, 136, 255, 0.9);
          border-radius: 2px;
          cursor: pointer; }
          .sms-anti-brush .content .recharge .agree .v-btn.btn-success:hover {
            text-decoration: none;
            background: #0088ff; }
        .sms-anti-brush .content .recharge .agree .agreement {
          position: absolute;
          right: 0;
          top: 0;
          font-size: 12px;
          line-height: 36px;
          color: #868686;
          cursor: pointer; }
          .sms-anti-brush .content .recharge .agree .agreement input[type='checkbox'] {
            vertical-align: middle;
            margin-right: 8px;
            cursor: pointer; }
          .sms-anti-brush .content .recharge .agree .agreement a {
            color: #666666;
            text-decoration: none; }
            .sms-anti-brush .content .recharge .agree .agreement a:hover {
              color: #666666;
              text-decoration: underline; }
      .sms-anti-brush .content .recharge .record {
        display: block;
        margin-top: 10px;
        padding: 10px;
        background: #fff; }
        .sms-anti-brush .content .recharge .record .title {
          color: #202B39;
          font-size: 14px; }
        .sms-anti-brush .content .recharge .record table {
          width: 100%;
          margin-top: 15px;
          margin-bottom: 20px;
          border-collapse: collapse; }
          .sms-anti-brush .content .recharge .record table thead {
            background: #F9F9F9;
            border-bottom: 1px solid #ddd; }
            .sms-anti-brush .content .recharge .record table thead tr {
              height: 36px; }
              .sms-anti-brush .content .recharge .record table thead tr th {
                text-align: left;
                font-weight: normal;
                color: #888888;
                font-size: 12px; }
                .sms-anti-brush .content .recharge .record table thead tr th:first-child {
                  padding-left: 10px; }
          .sms-anti-brush .content .recharge .record table tbody tr {
            border-bottom: 1px solid #fafafa; }
            .sms-anti-brush .content .recharge .record table tbody tr td {
              color: #999999;
              font-size: 12px;
              line-height: 40px; }
              .sms-anti-brush .content .recharge .record table tbody tr td:first-child {
                padding-left: 10px; }
    .sms-anti-brush .content .record .curve {
      margin-top: 15px;
      border-bottom: 1px solid #F9F9F9;
      margin-bottom: 20px; }
      .sms-anti-brush .content .record .curve P {
        color: #333333;
        font-weight: normal;
        font-size: 14px; }
        .sms-anti-brush .content .record .curve P span.ri {
          float: right;
          font-size: 12px;
          color: #CCCCCC; }
      .sms-anti-brush .content .record .curve .v-line {
        width: 100%;
        height: 260px; }
    .sms-anti-brush .content .record .log P {
      color: #333333;
      font-weight: normal;
      font-size: 14px; }
    .sms-anti-brush .content .record .log table {
      width: 100%;
      margin-top: 15px;
      margin-bottom: 20px;
      border-collapse: collapse; }
      .sms-anti-brush .content .record .log table thead {
        background: #F9F9F9;
        border-bottom: 1px solid #ddd; }
        .sms-anti-brush .content .record .log table thead tr {
          height: 36px; }
          .sms-anti-brush .content .record .log table thead tr th {
            font-weight: normal;
            color: #777777;
            font-size: 12px;
            text-align: left; }
            .sms-anti-brush .content .record .log table thead tr th:first-child {
              padding-left: 10px; }
      .sms-anti-brush .content .record .log table tbody tr {
        border-bottom: 1px solid #fafafa; }
        .sms-anti-brush .content .record .log table tbody tr td {
          position: relative;
          padding: 10px 0;
          line-height: 20px;
          color: #878787;
          font-size: 12px; }
          .sms-anti-brush .content .record .log table tbody tr td:first-child {
            padding-left: 10px; }
          .sms-anti-brush .content .record .log table tbody tr td.international {
            color: #0085B2; }
          .sms-anti-brush .content .record .log table tbody tr td .iconfont {
            cursor: pointer; }
            .sms-anti-brush .content .record .log table tbody tr td .iconfont.error span {
              display: none; }
            .sms-anti-brush .content .record .log table tbody tr td .iconfont.error:hover {
              background: none;
              font-size: 18px; }
              .sms-anti-brush .content .record .log table tbody tr td .iconfont.error:hover span {
                z-index: 3;
                display: block;
                position: absolute;
                padding: 0 10px;
                white-space: pre;
                font-size: 12px;
                -webkit-text-stroke-width: 0;
                color: #fff;
                background: #39424E;
                border-radius: 2px; }
    .sms-anti-brush .content input.form-control {
      width: 250px;
      height: 30px;
      padding: 0 6px;
      margin-bottom: 10px;
      outline: none;
      border: 1px solid #DDDDDD;
      border-radius: 2px; }
      .sms-anti-brush .content input.form-control:focus {
        border-color: #12C0FA; }
    .sms-anti-brush .content a {
      color: #007FFF;
      text-decoration: none; }
      .sms-anti-brush .content a:hover {
        text-decoration: underline; }

.example-ex {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 2px; }
  .example-ex span {
    margin: 0;
    padding: 0 2px;
    font-size: 14px;
    line-height: 26px; }
  .example-ex input {
    position: absolute;
    right: 2px;
    top: 2px;
    cursor: pointer; }
    .example-ex input.picker {
      padding: 0;
      border: 0;
      width: 60px;
      height: 26px;
      font-size: 12px;
      border-right: 14px solid #3c8aff;
      line-height: 20px;
      outline: none;
      color: #666666; }

table tr th:last-child {
  width: 160px; }

.v-btn.btn-default {
  margin-top: 40px;
  width: 120px;
  height: 36px;
  border: none;
  color: #fff;
  background: #0088ff;
  background: rgba(0, 136, 255, 0.9);
  border-radius: 2px;
  cursor: pointer; }
  .v-btn.btn-default:hover {
    background: #0088ff; }

input::-webkit-input-placeholder {
  color: #999999; }

input:-moz-placeholder {
  color: #999999; }

input::-moz-placeholder {
  color: #999999; }

input:-ms-input-placeholder {
  color: #999999; }

.vaptcha-dz-tip, .vaptcha-dz-pop {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  padding: 0 40px;
  min-width: 200px;
  height: 50px;
  line-height: 50px;
  background-color: #FFFFFF;
  font-size: 0;
  text-align: center;
  box-shadow: 0 0 3px 6px rgba(0, 0, 0, 0.06);
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
  -webkit-box-shadow: 0 0 3px 6px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 0 3px 6px rgba(0, 0, 0, 0.06);
  -ms-box-shadow: 0 0 3px 6px rgba(0, 0, 0, 0.06); }
  .vaptcha-dz-tip .dz-tip-text, .vaptcha-dz-pop .dz-tip-text {
    font-size: 12px;
    color: #888888; }
    .vaptcha-dz-tip .dz-tip-text .vaptcha, .vaptcha-dz-pop .dz-tip-text .vaptcha {
      margin-left: 5px;
      font-size: 14px;
      font-weight: 700;
      color: #FF8000; }
  .vaptcha-dz-tip.active, .vaptcha-dz-pop.active {
    display: block; }
  .vaptcha-dz-tip i.iconfont.error, .vaptcha-dz-tip i.iconfont.success, .vaptcha-dz-pop i.iconfont.error, .vaptcha-dz-pop i.iconfont.success {
    vertical-align: top;
    margin-right: 12px;
    font-size: 20px; }

.vaptcha-dz-pop {
  width: 280px;
  height: 140px;
  text-align: left;
  padding: 0;
  line-height: 40px; }
  .vaptcha-dz-pop .vaptcha-dz-title {
    padding: 0 10px;
    font-size: 16px;
    font-weight: 600;
    color: #444; }
    .vaptcha-dz-pop .vaptcha-dz-title i {
      float: right;
      font-size: 20px;
      color: #DDDDDD;
      line-height: 40px;
      cursor: pointer; }
      .vaptcha-dz-pop .vaptcha-dz-title i:hover {
        color: #CCCCCC; }
  .vaptcha-dz-pop .vaptcha-dz-main {
    padding: 0 20px;
    color: #666;
    font-size: 14px; }
  .vaptcha-dz-pop .v-btn.btn-default {
    margin: 10px 20px; }

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px; }

.pagination > li {
  display: inline; }

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd; }

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px; }

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #eee; }

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #12C0FA;
  border-color: #12C0FA; }

.pagination > .disabled > span,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd; }

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }

.pagination a {
  color: #12C0FA;
  border-color: #fff !important; }

.pagination .btn {
  float: right;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin: 0;
  background-color: #12C0FA;
  color: #fff; }

.pagination .active a {
  background-color: #12C0FA;
  border-color: #12C0FA; }

.pagination .go-page {
  float: right;
  font-size: 0;
  border: 1px solid #12C0FA;
  margin-left: 10px; }

.pagination .go-page input {
  display: inline-block;
  width: 60px !important;
  height: 30px !important;
  text-align: center;
  border-radius: 0;
  margin: 0 !important;
  border: 1px solid #12C0FA !important; }

.pagination .go-page input::-webkit-outer-spin-button,
.pagination .go-page input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0; }

.pagination .go-page button {
  padding: 5px 10px;
  border-radius: 0; }

/*# sourceMappingURL=message.css.map */
