html, body {
  height: 100%;
  width: 100%; }

html,
body,
h1,
h2 {
  margin: 0;
  padding: 0; }

.dz-set {
  padding: 20px; }
  .dz-set * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box; }
  .dz-set h1 {
    font-size: 16px;
    color: #3283B8; }
  .dz-set .title h2 {
    margin-bottom: 20px;
    margin-top: 30px;
    padding-left: 15px;
    height: 36px;
    line-height: 36px;
    color: #0085B2;
    background: #F1F7FA;
    font-size: 14px; }
  .dz-set input.form-control {
    padding: 0 6px;
    height: 30px;
    width: 260px;
    border: 1px solid #DDDDDD;
    outline: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px; }
    .dz-set input.form-control:focus {
      border-color: #12C0FA; }
  .dz-set input[type="checkbox"] {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block; }
  .dz-set .basic-setup {
    position: relative; }
    .dz-set .basic-setup p {
      padding-left: 15px;
      font-size: 14px;
      color: #333333; }
    .dz-set .basic-setup .item {
      display: inline-block;
      padding-left: 15px;
      margin-bottom: 20px;
      color: #666666;
      font-size: 12px; }
    .dz-set .basic-setup .right {
      float: right;
      line-height: 30px; }
      .dz-set .basic-setup .right P {
        margin: 0;
        padding: 0;
        color: #CCCCCC;
        font-size: 12px;
        clear: both; }
        .dz-set .basic-setup .right P a {
          color: #007FFF;
          text-decoration: none; }
          .dz-set .basic-setup .right P a:hover {
            text-decoration: underline; }
  .dz-set .advanced-setting .item {
    display: inline-block;
    padding-left: 15px;
    margin-bottom: 20px;
    color: #666666;
    font-size: 12px; }
  .dz-set .model {
    overflow: hidden;
    border-bottom: 1px solid #EEEEEE; }
    .dz-set .model .model-item {
      float: left;
      margin-right: 100px;
      margin-bottom: 20px; }
    .dz-set .model .model-preview {
      float: left;
      margin-bottom: 20px; }
  .dz-set .model-intro {
    float: left;
    padding-left: 15px;
    margin-right: 14px;
    margin-top: 18px;
    font-size: 14px;
    color: #666666;
    line-height: 30px; }
  .dz-set .group-set {
    float: left;
    margin-right: 10px; }
    .dz-set .group-set label {
      margin-bottom: 2px;
      display: inline-block;
      font-family: sans-serif;
      font-size: 12px;
      color: #AAAAAA; }
    .dz-set .group-set .form-control {
      width: 100px;
      height: 26px; }
    .dz-set .group-set .form-control, .dz-set .group-set .example-ex, .dz-set .group-set select {
      display: block; }
    .dz-set .group-set select {
      padding: 0 6px;
      width: 100px;
      height: 26px;
      border: 1px solid #DDDDDD;
      outline: none; }
  .dz-set .group-checkbox {
    padding-top: 18px;
    line-height: 30px; }
    .dz-set .group-checkbox .check-mark {
      font-size: 12px;
      color: #D90000; }
  .dz-set .model-preview {
    text-align: right; }
    .dz-set .model-preview .preview-intro {
      float: left;
      width: 96px; }
      .dz-set .model-preview .preview-intro .model-intro {
        line-height: 26px; }
      .dz-set .model-preview .preview-intro .check-mark {
        color: #D90000; }
    .dz-set .model-preview .preview-btn {
      float: left; }

.example-ex {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 26px;
  border: 1px solid #ddd;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px; }
  .example-ex span {
    padding: 0 2px;
    font-size: 14px;
    color: #bbb;
    line-height: 26px; }
  .example-ex input {
    position: absolute;
    right: 2px;
    top: 2px;
    cursor: pointer; }
    .example-ex input.picker {
      padding: 0;
      border: 0;
      width: 60px;
      height: 20px;
      font-size: 12px;
      border-right: 14px solid #3c8aff;
      line-height: 20px;
      outline: none; }

.vp-basic-btn,
.vp-basic-btn * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.vp-dark-btn.vp-basic-btn {
  width: 100%;
  height: 100%;
  min-height: 36px;
  max-height: 46px;
  min-width: 200px; }

.vp-dark-btn.vp-basic-btn {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  font-size: 12px;
  line-height: 0;
  font-weight: normal;
  white-space: nowrap;
  transition: all 212ms linear;
  -moz-transition: all 212ms linear;
  -webkit-transition: all 212ms linear;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none; }
  .vp-dark-btn.vp-basic-btn .vp-btn-bg {
    position: absolute;
    height: 100%;
    width: 0;
    -webkit-transition: width 212ms ease;
    -moz-transition: width 212ms ease;
    -o-transition: width 212ms ease;
    transition: width 212ms ease; }
  .vp-dark-btn.vp-basic-btn .vp-basic-cont {
    position: absolute;
    width: 100%;
    height: 100%; }
  .vp-dark-btn.vp-basic-btn .vp-shield {
    float: left;
    width: 40px;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#4C000000,endcolorstr=#4C000000); }
    .vp-dark-btn.vp-basic-btn .vp-shield i {
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: url("../img/vaptcha-dz-btn.png");
      background-repeat: no-repeat;
      -webkit-transition: all 212ms ease;
      -moz-transition: all 212ms ease;
      -o-transition: all 212ms ease;
      transition: all 212ms ease; }
    .vp-dark-btn.vp-basic-btn .vp-shield .vp-ring {
      display: inline-block;
      display: none\9;
      width: 26px;
      height: 26px;
      border: 2px solid #fff;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%; }
      .vp-dark-btn.vp-basic-btn .vp-shield .vp-ring i {
        margin-top: 4px; }
    .vp-dark-btn.vp-basic-btn .vp-shield .vp-ring-compatible {
      display: none;
      display: inline-block\9;
      width: 26px;
      height: 26px; }
      .vp-dark-btn.vp-basic-btn .vp-shield .vp-ring-compatible i {
        margin-top: 6px; }
    @media screen and (min-width: 0px) {
      .vp-dark-btn.vp-basic-btn .vp-shield .vp-ring {
        display: inline-block; }
      .vp-dark-btn.vp-basic-btn .vp-shield .vp-factor-chart,
      .vp-dark-btn.vp-basic-btn .vp-shield .vp-chart-ring {
        display: block; }
      .vp-dark-btn.vp-basic-btn .vp-shield .vp-ring-compatible {
        display: none; } }
  .vp-dark-btn.vp-basic-btn .vp-about {
    float: right;
    width: 34px;
    height: 100%;
    text-align: center;
    transition: all 212ms linear;
    -moz-transition: all 212ms linear;
    -webkit-transition: all 212ms linear;
    opacity: 0.7;
    filter: alpha(opacity=70); }
    .vp-dark-btn.vp-basic-btn .vp-about:hover {
      opacity: 1;
      filter: alpha(opacity=100); }
    .vp-dark-btn.vp-basic-btn .vp-about i {
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      background-image: url("../img/vaptcha-dz-btn.png");
      background-repeat: no-repeat;
      background-position: 1px -33px; }
  .vp-dark-btn.vp-basic-btn .vp-tip {
    font-family: "PingFangSC-Regular", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
    height: 100%;
    font-size: 12px;
    color: #FFF;
    text-indent: 8px;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left; }
    .vp-dark-btn.vp-basic-btn .vp-tip span {
      font-size: 12px;
      color: #FFF;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
  .vp-dark-btn.vp-basic-btn .vp-vertical {
    display: table; }
    .vp-dark-btn.vp-basic-btn .vp-vertical .vp-vertical-cont {
      display: table-cell;
      vertical-align: middle; }

.vp-dark-btn.vp-default-btn {
  background-color: #3C8AFF; }
  .vp-dark-btn.vp-default-btn .vp-shield i {
    vertical-align: middle;
    width: 23px;
    height: 26px;
    background-position: 0 0; }
  .vp-dark-btn.vp-default-btn .vp-shield .vp-circle-h {
    display: none;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    background-color: transparent;
    border: 2px solid #fff;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -moz-animation: vpCircleH 0.8s linear infinite;
    -webkit-animation: vpCircleH 0.8s linear infinite;
    animation: vpCircleH 0.8s linear infinite; }
@-webkit-keyframes vpCircleH {
  0% {
    -webkit-transform: scale(0.8); }
  50% {
    -webkit-transform: scale(1); }
  100% {
    -webkit-transform: scale(0.8); } }
@-moz-keyframes vpCircleH {
  0% {
    -moz-transform: scale(0.8); }
  50% {
    -webkit-transform: scale(1); }
  100% {
    -webkit-transform: scale(0.8); } }
@-ms-keyframes vpCircleH {
  0% {
    -ms-transform: scale(0.8); }
  50% {
    -webkit-transform: scale(1); }
  100% {
    -webkit-transform: scale(0.8); } }
@keyframes vpCircleH {
  0% {
    transform: scale(0.8); }
  50% {
    -webkit-transform: scale(1); }
  100% {
    -webkit-transform: scale(0.8); } }
  .vp-dark-btn.vp-default-btn:hover .vp-shield i {
    display: none; }
  .vp-dark-btn.vp-default-btn:hover .vp-shield .vp-circle-h {
    display: inline-block; }

.vp-light-btn.vp-basic-btn {
  width: 100%;
  height: 100%;
  min-height: 36px;
  max-height: 46px;
  min-width: 200px; }

.vp-light-btn.vp-basic-btn {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  font-size: 12px;
  white-space: nowrap;
  background-color: #dddddd;
  transition: all 212ms linear;
  -moz-transition: all 212ms linear;
  -webkit-transition: all 212ms linear;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none; }
  .vp-light-btn.vp-basic-btn .vp-basic-cont {
    position: absolute;
    width: 100%;
    height: 44px;
    top: 0;
    left: 0;
    background-image: url("../img/vaptcha-dz-btn.png");
    background-repeat: repeat-x; }
  .vp-light-btn.vp-basic-btn .vp-basic-bar {
    position: absolute;
    left: 40px;
    top: 10px;
    width: 1px;
    height: 24px; }
  .vp-light-btn.vp-basic-btn .vp-shield {
    float: left;
    width: 40px;
    height: 44px;
    text-align: center;
    background-color: transparent; }
    .vp-light-btn.vp-basic-btn .vp-shield i {
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: url("../img/vaptcha-dz-btn.png");
      background-repeat: no-repeat;
      -webkit-transition: all 212ms ease;
      -moz-transition: all 212ms ease;
      -o-transition: all 212ms ease;
      transition: all 212ms ease; }
    .vp-light-btn.vp-basic-btn .vp-shield .vp-ring {
      display: inline-block;
      display: none\9;
      width: 24px;
      height: 24px;
      border: 2px solid #fff;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%; }
      .vp-light-btn.vp-basic-btn .vp-shield .vp-ring i {
        margin-top: 3px; }
    .vp-light-btn.vp-basic-btn .vp-shield .vp-ring-compatible {
      display: none;
      display: inline-block\9;
      width: 24px;
      height: 24px; }
      .vp-light-btn.vp-basic-btn .vp-shield .vp-ring-compatible i {
        margin-top: 5px; }
    @media screen and (min-width: 0px) {
      .vp-light-btn.vp-basic-btn .vp-shield .vp-ring {
        display: inline-block; }
      .vp-light-btn.vp-basic-btn .vp-shield .vp-factor-chart,
      .vp-light-btn.vp-basic-btn .vp-shield .vp-chart-ring {
        display: block; }
      .vp-light-btn.vp-basic-btn .vp-shield .vp-ring-compatible {
        display: none; } }
  .vp-light-btn.vp-basic-btn .vp-about {
    float: right;
    width: 34px;
    height: 44px;
    text-align: center;
    transition: all 212ms linear;
    -moz-transition: all 212ms linear;
    -webkit-transition: all 212ms linear;
    opacity: 0.5;
    filter: alpha(opacity=50); }
    .vp-light-btn.vp-basic-btn .vp-about:hover {
      opacity: 1;
      filter: alpha(opacity=100); }
    .vp-light-btn.vp-basic-btn .vp-about .vp-about-img {
      display: inline-block;
      width: 34px;
      height: 44px;
      background-image: url("../img/vaptcha-dz-btn.png");
      background-repeat: no-repeat; }
  .vp-light-btn.vp-basic-btn .vp-tip {
    font-family: "PingFangSC-Regular", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
    line-height: 46px;
    font-size: 12px;
    color: #999999;
    text-indent: 8px;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left; }
    .vp-light-btn.vp-basic-btn .vp-tip span {
      font-size: 12px;
      color: #FFF;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .vp-light-btn.vp-basic-btn .vp-tip .tip-lv {
      cursor: pointer;
      margin-left: 4px;
      color: #D21A00; }
  .vp-light-btn.vp-basic-btn .vp-vertical {
    display: table; }
    .vp-light-btn.vp-basic-btn .vp-vertical .vp-vertical-cont {
      display: table-cell;
      vertical-align: middle; }

.vp-light-btn.vp-default-btn {
  border: 1px solid #DDDDDD; }
  .vp-light-btn.vp-default-btn .vp-basic-cont {
    background-position: 0 -164px; }
  .vp-light-btn.vp-default-btn .vp-shield {
    background-color: #3C8AFF; }
    .vp-light-btn.vp-default-btn .vp-shield .vp-vertical-cont {
      background-image: url("../img/vaptcha-dz-btn.png");
      background-repeat: no-repeat;
      background-position: 0 -112px; }
    .vp-light-btn.vp-default-btn .vp-shield .vp-circle-h {
      display: none;
      vertical-align: middle;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      background-color: transparent;
      border: 2px solid #3C8AFF;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -moz-animation: vpCircleH 0.8s linear infinite;
      -webkit-animation: vpCircleH 0.8s linear infinite;
      animation: vpCircleH 0.8s linear infinite; }
@-webkit-keyframes vpCircleH {
  0% {
    -webkit-transform: scale(0.8); }
  50% {
    -webkit-transform: scale(1); }
  100% {
    -webkit-transform: scale(0.8); } }
@-moz-keyframes vpCircleH {
  0% {
    -moz-transform: scale(0.8); }
  50% {
    -webkit-transform: scale(1); }
  100% {
    -webkit-transform: scale(0.8); } }
@-ms-keyframes vpCircleH {
  0% {
    -ms-transform: scale(0.8); }
  50% {
    -webkit-transform: scale(1); }
  100% {
    -webkit-transform: scale(0.8); } }
@keyframes vpCircleH {
  0% {
    transform: scale(0.8); }
  50% {
    -webkit-transform: scale(1); }
  100% {
    -webkit-transform: scale(0.8); } }
  .vp-light-btn.vp-default-btn .vp-basic-bar {
    background-color: #E5E5E5; }
  .vp-light-btn.vp-default-btn .vp-about {
    background-color: #3C8AFF; }
    .vp-light-btn.vp-default-btn .vp-about .vp-about-img {
      background-position: 0 -60px; }

.vp-dark-btn.vp-basic-btn {
  margin-top: 16px; }

.vp-dark-btn.vp-basic-btn .vp-tip {
  line-height: 36px; }

.vp-light-btn.vp-basic-btn {
  margin-top: 16px; }

.vp-light-btn.vp-basic-btn {
  max-height: 46px;
  height: 46px; }

/*# sourceMappingURL=set.css.map */
